/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********/

body{
    margin: 0 auto;
    width: 1250px;
    background:  url(../img/back.png);
}



.back{
    height: 100%;
    width: 100%;
    background:  url(../img/back.png);
}
.back h1{
    font-family: Lucida Calligraphy;
    color: #7e7e7e;
    text-align: center;
    padding-top: 80px;
}
.menu{
    margin: 0;
    padding-top: 20px;
    width: 100%;
    height: 100px;
    background: url(../img/back.png);
}

.menu ul{
    margin: 0;

    padding-top: 5px;
    padding-bottom: 20px;
    width: 1265px;
    border-top: 1px solid #585553;
    border-bottom: 1px solid #585553;
    text-align: center;
}

/*.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #da8e70;

}*/

.menu li{
    display: inline-block;
    font-family: calibri, Sans-serif;
    margin: 20px 0 0 0px;
    padding: 40px;
}
.menu li a{
    color: #ababab;
    text-decoration: none;
    padding: 10px;
}

/*.menu li a span{
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #da8e70;
}*/

/*.menu li a:hover{
    color:#da8e70;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #da8e70;
    border-top: 5px solid transparent;
}
*/
.menu ul li a{
position: relative;
}

.menu ul li a:hover:before{
content:'';
position: absolute;
bottom: -48px;
left: 50%;
margin-left: -8px;
border-bottom: 8px solid #da8e70;
border-right: 8px solid transparent;
border-left: 8px solid transparent;
}

.menu ul li a:hover{
   color:#da8e70;
}


.capa{
    background: url(../img/back.png) no-repeat;
    height: 100px;
    width: 100%;
    margin-top: 150px;

}

.capa h1{
    color: #ffffff;
    float: left;
    margin-left: 30px;
    margin-top: -20px;
    font-family: Lucida Calligraphy;
}

.border{
    background: url(../img/back2.png) no-repeat;
    width: 100%;
    height: 100px;
    margin-top: 30px;
    margin-left: 10px;
}

.border p{
    opacity: 0.7;
    color: #ffffff;
    float: left;
    margin-top: 11px;
    margin-left: 60px;
}

.border p span{
    color: #da8e70;
}

.border a{
    text-decoration: none;
    color: #ffffff;
}

.parte1 {
    width: 770px;
    margin-left: 16px;
    margin-top: 100px;
    float: left;
}

.parte1 h2{
    color: #7e7e7e;
    opacity: 0.7;
}

.parte1 p{
    color: #7e7e7e;
    margin-top: 20px;
    opacity: 0.7;
}

.parte1 a{
    color: #ffffff;
    background: #7e7e7e;
    border: 20px solid #7e7e7e;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 12px;
    margin-bottom: 20px;
    opacity: 0.7;
}

.parte1 img{
    margin-left: 80px;
    margin-top: 50px;
}

.parte2{
    float: left;
    margin-top: 70px;
    margin-left: 16px;
    width: 770px;
    border-bottom: 1px solid #7e7e7e;
}

.parte2 img{
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    padding-right: 20px;
    width: 20px;
}

.parte2 p{
    border-top: 1px solid #7e7e7e;
    color: #7e7e7e;
    margin-bottom: 5px;
    opacity: 0.7;
}

.parte2 span{
    float: right;
    opacity: 0.7;
}

.parte3{
    margin-top: -430px;
    margin-left: 850px;
}

.parte3 h2{
    color: #ffffff;
    opacity: 0.7;
}

.parte3 a{
    width: 10px;
    height: 10px;
    background: #da8e70;
    border-radius: 100%;
    display: inline-block;
    margin-top: 10px;
    opacity: 0.7;
}

.parte3 p{
    margin-left: 20px;
    margin-top: -12px;
    color: #7e7e7e;
    opacity: 0.7;
}

.parte4{
    margin-top: 130px;
    margin-left: 850px;
}

.parte4 h2{
    color: #ffffff;
    opacity: 0.7;
}

.parte4 img{
    margin-top: 20px;
}

.parte4 p{
    color: #7e7e7e;
    margin-left: 130px;
    margin-top: -90px;
    display: block;
    width: 200px;
}

.parte4 a{
    color: #ffffff;
    background: #da8e70;
    border: 14px solid #da8e70;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 12px;
    margin-bottom: 20px;
    opacity: 0.7;
    margin-left: 130px;
}

.parte5{
    margin-top: 200px;
    margin-left: 850px;
    padding-bottom: 100px;
}

.parte5 h2{
    color: #ffffff;
    opacity: 0.7;
}

.parte5 img{
    margin-top: 20px;
}

.parte5 p{
    color: #7e7e7e;
    margin-left: 130px;
    margin-top: -90px;
    display: block;
    width: 200px;
}

.parte5 a{
    color: #ffffff;
    background: #da8e70;
    border: 14px solid #da8e70;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    font-size: 12px;
    margin-bottom: 20px;
    opacity: 0.7;
    margin-left: 130px;
}

.parte5-5{
    opacity: 0.7;
    margin-top: 50px;
    margin-left: 850px;

}

.parte5-5 h2{
    color: #ffffff;
    opacity: 0.7;
}

.parte5-5 p{
    color: #7e7e7e;
    margin-top: 100px;
    margin-bottom: 50px;
}

.parte5-5 p.te span{
    color: #ffffff;
}

.parte5-5 p.te{
    margin-left: 120px;
    margin-top: -100px;
}




.parte6{
    background: url(../img/back.png);
    margin-top: 400px;
    width: 100%;
    height: 500px;
    border-top: 1px solid #565451;
}

.parte6 h2{
    color: #7e7e7e;
    text-align: center;
    padding-top: 200px;
    font-family: Lucida Calligraphy;
    margin-left: 0px;
}

.parte6 img{
    margin-left: 48%;
    width: 50px;
}

.parte6 h3{
    text-align: center;
    color: #7e7e7e;
}
.parte6 p{
    text-align: center;
    color: #7e7e7e;
}